#head-note{
    color: green;
    background: #dddddd61;
    font-weight: 500;
    padding: 5px;
}

#head-note+ul{
    list-style: none;
    color: black;
    font-weight: 600;
    padding: 0;
}

#head-note+ul li{
    border: 1px solid #e5e2e2;
    padding: 9px 33px;
}