#content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#card {
    border: 1px solid black;
    padding: 17px;
    width: 700px;
    box-shadow: 2px 2px 12px 0px grey;
    margin: 30px;
    border-radius: 4px;
}

#card h2 {
    color: red;
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding: 10px 7px;
    margin-bottom: 19px;
}

#select {
    margin: 20px;
    font-weight: bold;
    font-size: 13px;
}

#select input {
    margin: 4px 16px;
}

#mobile{
    margin: 4px 34px;
    font-weight: bold;
}

#mobile input{
    padding: 16px;
    font-size: 18px;
    margin: 0 87px;
    width: 149px;
    border: 1px solid #d2c4c4;
    border-radius: 7px;
}

#mobile input:focus-visible{
    outline: 3px solid #0f9deca6;
}

button{
    padding: 12px 41px;
    color: white;
    font-size: 16px;
    margin: 10px 65px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(to left, #ff5902 50%, green 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

button:hover{
    background-position: left;
    cursor: pointer;
}